@page
@model FilmFunForum2.Pages.Admin.ForumPostAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ForumPost[0].CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForumPost[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForumPost[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForumPost[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForumPost[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForumPost[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForumPost[0].UserImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForumPost[0].Flagged)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ForumPost) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flagged)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
