@page
@model FilmFunForum2.Pages.Admin.PrivateMessageAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PrivateMessage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateMessage.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrivateMessage.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateMessage.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrivateMessage.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateMessage.RecipientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrivateMessage.RecipientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateMessage.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrivateMessage.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PrivateMessage.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
