@page
@model FilmFunForum2.Pages.Admin.ReportAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.ForumPostId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.ForumPostId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.CommentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.CommentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Report.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
